# Next.js
/.next/
/out/
/build
/node_modules
.DS_Store
*.local
.env*
.idea/

# Rust / WASM
/wasm-bruteforcer/target
/wasm-bruteforcer/pkg
/src/wasm-pkg

# Public WASM (Only exclude the binary if you want to rebuild on CI)
# public/wasm/*.wasm
